
.main .plain,
.task .task__open-link,
.tasks_automation .task__toggle-link,
.tasks_taskbook .task__toggle-link,
.toolbar .toolbar__button,
body .code-tabs .code-tabs__button {
    padding: 0;
}



.formatted ol,
.formatted ul {
    padding-left: 21px;
    margin: 22px 0
}

.formatted ol>li,
.formatted ul>li {
    margin: .3em 0
}

.formatted ol+p,
.formatted ul+p {
    margin-top: 12px
}

.formatted ol ol,
.formatted ol ul,
.formatted ul ol,
.formatted ul ul {
    margin-top: 0;
    margin-bottom: 0
}

.formatted ul>li:before {
    content: "\25CF";
    float: left;
    margin-left: -20px;
    color: #000;
    font-size: 8px
}

.formatted h1 {
    margin-bottom: .5em
}

.formatted h2 {
    margin: 24px 0 12px;
    font-size: 24px;
    line-height: 32px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    position: relative
}

.formatted h3,
.formatted h4 {
    margin: 30px 0 22px
}

.formatted h3 {
    font-size: 128%;
    line-height: 120%
}

.formatted h4 {
    font-size: 114%;
    line-height: 125%
}

.formatted h5 {
    font-size: 110%;
    line-height: 125%
}

.formatted h2+h3,
.formatted h3+h4 {
    margin-top: -8px
}

.formatted p {
    margin: 0 0 12px
}

.formatted table {
    width: 100%;
    border-collapse: collapse;
    font-size: 13px;
    margin: 30px 0
}

.formatted table tbody {
    border: 0
}

.formatted table tr {
    border-bottom: 1px solid #ccc
}

.formatted table th {
    text-align: left
}

.formatted table caption,
.formatted table td,
.formatted table th {
    padding: 2px 1em 2px 5px
}

.formatted table tr:nth-child(2n) {
    background: #f9f9f9
}

.formatted table code {
    font-weight: inherit
}

.formatted table tr:first-child th {
    border-bottom: 3px solid #ccc;
    vertical-align: bottom
}

.formatted table caption {
    text-align: left
}

@media (min-width:1420px) {
    .formatted table {
        font-size: 15px
    }
}

.formatted dl {
    margin: 1em 0
}

.formatted dt {
    font-weight: 700
}

.formatted dd {
    margin: 8px 0 22px
}

body,
html {
    height: 100%
}

body {
    font: 14px/20px BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
    color: #333;
    background: #fff;
    margin: 0
}

.code-example {    
	margin: 0 0 22px 0;
}

.code-example__codebox,
.code-example__codebox .code {
    margin-bottom: 0
}

.code-example__codebox {
    width: 100%;
    height: 100%
}

.code-example__result {
    margin-top: 0
}

.code-result {
    position: relative;
    border: 1px solid #e7e5e3;
    margin: 22px 0
}

.code-result__toolbar {
    position: absolute;
    top: 0;
    right: 0
}

.code-result__iframe {
    display: block;
    border: 0;
    width: 100%;
    height: 100px
}

.code-tabs {
    margin: 22px 0
}

.code-tabs__tools {
    display: table;
    background: #f5f2f0;
    font-size: 13px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .12);
    position: relative;
    z-index: 99;
    width: 100%
}

.code-tabs_result_on .code-tabs__tools {
    box-shadow: none
}

.code-tabs__buttons,
.code-tabs__switches-wrap {
    display: table-cell;
    white-space: nowrap;
    vertical-align: top
}

.code-tabs__scroll-wrap {
    width: 0;
    display: none
}

.code-tabs_scroll .code-tabs__scroll-wrap {
    display: table-cell
}

.code-tabs__buttons {
    background: #f0edeb
}

.code-tabs__scroll-button {
    width: 17px;
    padding: 0 1px;
    background: #d8d8d8;
    height: 49px;
    color: #fff;
    line-height: 49px;
    font-size: 18px
}

.working-hover .code-tabs__scroll-button:hover {
    background: #e1d8cd
}

.code-tabs__scroll-button[disabled] {
    background: #d8d8d8;
    color: #ebebeb;
    cursor: default
}

.code-tabs__switches-wrap {
    width: 100%
}

.code-tabs__switches {
    height: 59px;
    margin-bottom: -10px;
    overflow: hidden;
    position: relative
}

.code-tabs__switches-items {
    position: absolute;
    transition: .1s ease-in-out
}

.code-tabs__switch {
    color: #656565;
    background: #f5f2f0;
    text-align: center;
    padding: 12px 15px;
    line-height: 25px;
    white-space: nowrap;
    cursor: pointer;
    margin-bottom: 15px;
    display: inline-block;
    vertical-align: bottom
}

.working-hover .code-tabs__button:hover,
.working-hover .code-tabs__switch:hover {
    background: #e6e6e6
}

.code-tabs__switch_current,
.working-hover .code-tabs__switch_current:hover {
    background: #c4c2c0;
    color: #fff;
    position: relative
}

.code-tabs__switch_current {
    cursor: default
}

.code-tabs__switch_current:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -7px;
    border-top: 8px solid #c4c2c0;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent
}

body .code-tabs .code-tabs__button {
    display: inline-block;
    font-size: 18px;
    padding: 12px;
    width: 25px;
    height: 25px;
    text-align: center;
    color: #999;
    outline: 0
}

.code-tabs__button,
.working-hover .code-tabs__button:hover {
    text-decoration: none
}

.code-tabs__content {
    overflow: auto;
    box-sizing: border-box
}

.code-tabs_result_on .code-tabs__content {
    border: solid #f5f2f0;
    border-width: 0 3px 3px;
    padding: 15px 0 0 15px
}

.code-tabs__dropdown {
    background: #fff;
    font-size: 13px;
    border: solid #e0dbd7;
    border-width: 0 1px 1px;
    box-sizing: border-box;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
    position: absolute;
    z-index: 99;
    display: none;
    min-width: 111px
}

.code-tabs__section {
    display: none;
    height: 100%;
    position: relative
}

.code-tabs__section_current {
    display: block
}

.code-tabs .code-tabs__section .code {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-bottom: 0
}

.code-tabs .code-tabs__section .code .line-numbers-rows {
    bottom: 0
}

.code-tabs__result {
    display: block;
    border: 0;
    width: 100%;
    height: 100%
}

.code-tabs code.token {
    background: inherit;
    padding: 0
}

.codebox {
    position: relative;
    overflow: auto
}

.codebox__toolbar {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
    opacity: .8
}

.codebox__code,
.codebox__code pre {
    width: 100%;
    height: 100%
}

.codebox__code pre {
    box-sizing: border-box
}

.codebox code.token {
    background: inherit;
    padding: 0
}

.main {
    margin: auto;
    padding: 0 0 35px
}

.main_width-limit {
    max-width: 800px
}

.main_width-limit-wide {
    max-width: 1000px
}

.main_width-limit-wider {
    max-width: 1200px
}

.main_align-left {
    margin: auto 0
}

.main.main_width-limit-list {
    max-width: 960px
}

.main_no-padding {
    padding-bottom: 0
}

.main_white-page {
    margin-top: 56px;
    padding: 0 56px 53px;
    box-sizing: border-box;
    background: #fff
}

.main_frontpage .comments {
    padding: 0 16px;
    max-width: 920px
}

.main_frontpage .article-tablet-foot {
    padding: 0 16px
}

.main:before,
.main__header:before {
    content: "";
    display: table
}

.main__header .breadcrumbs {
    margin: 0 0 12px;
    padding: 0
}

.main__header {
    margin: 40px 0 16px
}

.main__header_center {
    border: 0
}

.main__header_center-desktop .main__header-title,
.main__header_center .breadcrumbs,
.main__header_center .main__header-title {
    text-align: center
}

.main .main__header-title {
    font: 700 32px/40px BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    margin: 0 auto 12px;
    padding: 0
}

.main .main__header-title:not(:first-line) {
    color: green
}

.main .main__header-title:only-child {
    padding-bottom: 5px
}

.main__username {
    font-style: inherit;
    font-weight: inherit;
    color: #b20600
}

.main__header-nav {
    float: right
}

.main__lesson-nav {
    display: table;
    float: right
}

.main__lesson-nav-next,
.main__lesson-nav-prev {
    display: table-cell
}

.main__lesson-nav-prev {
    padding-right: 15px;
    border-right: 2px solid #f5f2f0
}

.main__lesson-nav-next {
    padding-left: 15px
}

.main__lesson-nav-prev:last-child {
    border: none;
    padding-right: 0
}

.main__lesson-nav kbd {
    font-size: 11px;
    color: #999;
    font: inherit
}

.main__lesson-nav-arr {
    position: relative;
    top: -.1em
}

.main__lesson-nav-link {
    color: #656565;
    text-decoration: underline
}

.main h2,
.main h3,
.main h4 {
    position: relative
}

h2 .main__anchor,
h3 .main__anchor,
h4 .main__anchor {
    transition: color .2s
}

.working-hover h2 .main__anchor:hover,
.working-hover h3 .main__anchor:hover,
.working-hover h4 .main__anchor:hover {
    color: #666
}

.main h1 a,
.main h1 code,
.main h2 a,
.main h2 code,
.main h3 a,
.main h3 code,
.main h4 a,
.main h4 code {
    font: inherit;
    color: inherit;
    text-decoration: none
}

.main h1,
.main h2,
.main h3,
.main h4,
.main h5 {
    page-break-after: avoid
}

.main h1+p,
.main h2+p,
.main h3+p,
.main h4+p,
.main h5+p {
    page-break-before: avoid
}

.main .format_error {
    color: red
}

.main div.format_error {
    border: 1px solid red;
    padding: 5px
}

.main .admin_link {
    float: right;
    color: gray
}

.main__anchor {
    outline: 0
}

.main__anchor:before {
    position: absolute;
    right: 100%;
    width: 30px;
    text-align: left;
    outline: 0;
    color: #d8d8d8;
    font-size: 90%;
    line-height: inherit;
    font-weight: 400;
    opacity: 0;
    transition: opacity .2s
}

.working-hover .main__anchor:hover:before {
    opacity: 1
}

.main__anchor_noicon:before {
    display: none
}

.main code {
    font-family: Consolas, Lucida Console, Menlo, Monaco, monospace;
    padding: 2px 4px;
    background: #f5f2f0;
    border-radius: 2px
}

.main code.pattern {
    border-bottom: 1px solid red
}

.main code.subject {
    border-bottom: 1px solid #00f
}

.main code.match {
    border-bottom: 1px solid green
}

.main span.shortcut {
    white-space: nowrap
}

.main span.shortcut code {
    border: 1px solid #333;
    padding: 0 1px;
    display: inline-block;
    margin: 1px 0
}

.main__strong {
    font-style: italic;
    color: #8c0000
}

.main__footer {
    background: #f5f5f2;
    margin: 30px 0 27px;
    padding: 16px 40px 9px
}

.main__footer .rating {
    margin-right: 22px
}

.main__footer .social {
    float: right
}

.main__footer-author,
.main__footer-author a,
.main__footer-date {
    color: #444;
    font: 13px Open Sans, Helvetica, Arial, sans-serif
}

.main__footer-date {
    margin-right: 15px
}

.main__footer-author {
    margin-right: 10px
}

.main__footer-star {
    position: absolute;
    font-size: 18px;
    color: #bbb;
    margin: 0 10px
}

.main__footer-star:before {
    display: inline-block;
    vertical-align: middle;
    min-width: 17px;
    min-height: 19px
}

@media (max-width:840px) {
    .main {
        padding: 0 0 35px
    }
    .main_white-page {
        margin-top: 0;
        padding: 0 16px 24px;
        max-width: 100%
    }
    .main__header_center-desktop .main__header-title {
        text-align: left
    }
}

@media (max-width:568px) {
    .main {
        padding-bottom: 0
    }
    .main__header_jobs {
        margin-top: 24px
    }
    .main__header-title {
        font-size: 34px
    }
    .main__header_jobs .main__header-title {
        font-size: 24px;
        line-height: 32px;
        color: #404040
    }
    .main_padding-bottom {
        padding-bottom: 35px
    }
}

@media (min-width:1120px) {
    .main {
        line-height: 19px
    }
}

@media (min-width:1170px) {
    .main {
        line-height: 20px
    }
}

@media (min-width:1220px) {
    .main {
        line-height: 22px
    }
}

@media (min-width:1420px) {
    .main {
        font-size: 16px
    }
}


code[class*=language-],
.code {
    color: #000;
    text-shadow: 0 1px #fff;
    font-family: Consolas, Lucida Console, Menlo, Monaco, monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    -moz-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    position: relative
}

@media print {
    code[class*=language-],
    .code {
        text-shadow: none
    }
}

.code {
    padding: 1em;
    margin: 1.5em 0;
    overflow: auto;
    background: #f5f2f0
}

:not(pre)>code[class*=language-] {
    padding: .1em;
    border-radius: .3em
}

.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
    color: #708090
}

.token.punctuation {
    color: #999
}

.namespace {
    opacity: .7
}

.token.boolean,
.token.number,
.token.property,
.token.tag {
    color: #905
}

.token.attr-name,
.token.selector,
.token.string {
    color: #690
}

.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url {
    color: #a67f59
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: #07a
}

.token.important,
.token.regex {
    color: #e90
}

.token.important {
    font-weight: 700
}

.token.entity {
    cursor: help
}

pre.line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: d
}

.line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    font-size: 100%;
    left: -3.8em;
    width: 3em;
    letter-spacing: -1px;
    border-right: 1px solid #999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.line-numbers-rows>span {
    pointer-events: none;
    display: block;
    counter-increment: d
}

.line-numbers-rows>span:before {
    content: counter(d);
    color: #999;
    display: block;
    padding-right: .8em;
    text-align: right
}

code[class*=language-],
.code {
    font: 14px/17px Consolas, Lucida Console, Menlo, Monaco, monospace;
    z-index: 0;
    text-shadow: none;
    margin: 0
}

.code {
    position: relative
}

.code>code.language-markup {
    color: inherit;
    position: relative
}

.code>code[class*=language-] {
    background: none;
    padding: 0
}

pre.line-numbers {
    padding-left: 3.5em
}

.line-numbers .line-numbers-rows {
    left: 0;
    top: 0;
    padding: 1em 0;
    border: 0;
    background: #e7e5e3;
    width: auto
}

.line-numbers .line-numbers-rows:after {
    width: auto;
    display: block;
    visibility: hidden;
    margin-top: -1.2em;
    content: "222"
}

.line-numbers-rows>span:before,
.line-numbers .line-numbers-rows:after {
    padding: 0 .7em 0 .8em;
    background: #e7e5e3;
    text-shadow: none
}

.code-bed .line-numbers-rows {
    background: #e88347 !important;
}
.code-bed .line-numbers-rows span:before{
	color: #3e3e3e !important;
}

.code-good .line-numbers-rows {
    background: #6ae243 !important;
}
.code-good .line-numbers-rows span:before{
	color: #3e3e3e !important;
}
.line-numbers-rows{
	float: left;
    width: 40px;
}
.codebox__code{
    background: #e7e5e3;
}
.line-numbers-rows>span:before, .line-numbers .line-numbers-rows:after {
    background: transparent;
}